.footer {
     background: linear-gradient(rgba(40, 126, 0, 0.7), #287E00);
     padding: 3rem 0 2rem 0;
     color: white;

     p {
          font-size: 13px;
     }

     h5 {
          font-size: 17px;
     }

     .img-footer {
          width: 100%;
     }

     .btn-footer {
          background: white;
          color: #287E00;
          border-radius: 6px;
          font-size: 13px;
     }

     .icon-footer {
          border-radius: 50%;
          background-color: white;
          color: #287E00;
          transition: 0.3s ease all;
          padding: 7px 12px;
          cursor: pointer;
          margin: 0 5px;

          &:hover {
               color: #86dd5e;
          }
     }
}