.footer {
     background: linear-gradient(rgba(40, 126, 0, 0.7), #287E00);
     padding-top: 4rem;
     padding-bottom: 2rem;
     color: white;

     .img-footer {
          width: 90%;
     }

     .btn-footer {
          background: white;
          color: #287E00;
          border-radius: 6px;
          padding: 0.5rem 1rem;
     }

     .icon-footer {
          border-radius: 50%;
          background-color: white;
          color: #287E00;
          transition: 0.3s ease all;
          padding: 7px 12px;
          cursor: pointer;
          margin: 0 5px;

          &:hover {
               color: #86dd5e;
          }
     }
}