.navbar {
     background: white;
     box-shadow: 1px 2px 5px rgb(167, 167, 167);

     .nav-link {
          cursor: pointer;
          color: black;

          &:hover {
               color: rgb(85, 85, 85) !important;
          }
     }

     .navbar-brand {
          cursor: pointer;

          .logo {
               height: 50px;
          }
     }

     .navbar-toggler {
          font-size: 40px;
     }

     .btn-cart {
          border-radius: 50%;
          background-color: #287E00;
          color: white;
          transition: 0.3s ease all;
          box-shadow: 2px 2px 5px !important;

          &:hover {
               color: white;
               transform: scale(1.03);
          }
     }

     .input-group {
          width: 500px;

          .input-group-text {
               cursor: pointer;
          }
     }
}