.btn-cart-fixed {
     border-radius: 50% !important;
     background-color: #287E00 !important;
     color: white !important;
     transition: 0.3s ease all;
     box-shadow: 2px 2px 5px #7a7a7a !important;
     padding: 0.75rem 1.15rem !important;
     font-size: 2rem !important;
     position: fixed;
     bottom: 2rem;
     right: 2rem;

     &:hover {
          color: white;
          transform: scale(1.03);
     }
}