.article-detail {
     padding: 9rem 0;

     .article-img {
          width: 100%;
     }

}

.more-rec {
     background: #EFFFE7;

     .more-rec-item {
          cursor: pointer;
     }

     .more-rec-img {
          width: 100%;
          height: 100px;
          object-fit: cover;
     }

     .more-rec-title {
          line-height: 1.5em;
          height: 3em;
          overflow: hidden;
     }
}